html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav {
  margin: 50px;
  height: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 15px;
  display: inline;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav ul li:first-child {
  margin: 0;
}

nav ul li:hover {
  -webkit-filter: drop-shadow(3px 3px 0 #00c2ff);
          filter: drop-shadow(3px 3px 0 #00c2ff);
}

.keyboard {
  position: absolute;
  left: 0;
}

.keyboard img {
  position: absolute;
  width: 70vmin;
  top: 25vmin;
  left: -35vmin;
  opacity: 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.4));
  z-index: -1;
  -webkit-animation: anim-img 2.5s 0.2s forwards ease-in-out;
          animation: anim-img 2.5s 0.2s forwards ease-in-out;
}

@-webkit-keyframes anim-img {
  to {
    left: -5vmin;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes anim-img {
  to {
    left: -5vmin;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

.keyboard .shape {
  position: absolute;
  width: 100vmin;
  height: 100vmin;
  background: linear-gradient(100deg, #00ffc2, #00c2ff);
  opacity: 0;
  -webkit-transform: rotate(65deg) skew(20deg);
          transform: rotate(65deg) skew(20deg);
  z-index: -2;
  left: -44vmin;
  -webkit-filter: hue-rotate(-20deg);
          filter: hue-rotate(-20deg);
  -webkit-animation: anim-shape 2s 0s forwards;
          animation: anim-shape 2s 0s forwards;
}

@-webkit-keyframes anim-shape {
  to {
    left: -34vmin;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    opacity: 0.4;
  }
}

@keyframes anim-shape {
  to {
    left: -34vmin;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    opacity: 0.4;
  }
}

.main-line {
  padding-right: 6vw;
  text-align: right;
  line-height: 1;
  font-size: 2.8rem;
  margin-top: 15vmin;
}

.main-line h1 {
  line-height: 0.5;
}

.main-line h2 {
  font-size: 2rem;
  font-weight: 400;
}

.main-line h1:first-of-type {
  font-weight: 600;
}

.main-line h1:nth-of-type(2) {
  font-weight: 700;
  background: linear-gradient(100deg, #00ffc2, #00c2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.main-line h1:nth-of-type(3) {
  font-weight: 800;
  margin-bottom: 50px;
}

button {
  margin-top: 40px;
  background: none;
  border: 2px solid #00ffc2;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 194, 255, 0.2);
          box-shadow: 0 10px 40px rgba(0, 194, 255, 0.2);
  padding: 15px 30px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  nav {
    max-width: 100%;
    margin: 20px 20px;
    text-align: center;
  }
  nav ul li {
    margin-left: 10px;
  }
  .main-line {
    font-size: 1.3rem;
    margin-top: 16rem;
  }
  .main-line h2 {
    font-size: 1.3rem;
  }
  .main-line h1:nth-of-type(3) {
    font-weight: 800;
    margin-bottom: 30px;
  }
  button {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px 0px;
    font-size: 1rem;
  }
  html,
  body {
    overflow: auto;
  }
}

@media screen and (min-width: 600px) {
  button:hover {
    margin-top: 35px;
    -webkit-box-shadow: 0 15px 40px rgba(0, 194, 255, 0.2);
            box-shadow: 0 15px 40px rgba(0, 194, 255, 0.2);
  }
}
/*# sourceMappingURL=styles.css.map */