$biruza: #00ffc2;
$blue: #00c2ff;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

nav {
  margin: 50px;
  height: 50px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-left: 15px;
      display: inline;
      cursor: pointer;
      font-size: 1.4rem;
      transition: all 0.3s;

      &:first-child {
        margin: 0;
      }

      &:hover {
        filter: drop-shadow(3px 3px 0 $blue);
      }
    }
  }
}

.keyboard {
  position: absolute;
  left: 0;

  img {
    position: absolute;
    width: 70vmin;
    top: 25vmin;
    left: -35vmin;
    opacity: 0;
    transform: rotate(-10deg);
    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.4));
    z-index: -1;
    animation: anim-img 2.5s 0.2s forwards ease-in-out;
  }

  @keyframes anim-img {
    to {
      left: -5vmin;
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  .shape {
    position: absolute;
    width: 100vmin;
    height: 100vmin;
    background: linear-gradient(100deg, $biruza, $blue);
    opacity: 0;
    transform: rotate(65deg) skew(20deg);
    z-index: -2;
    left: -44vmin;
    filter: hue-rotate(-20deg);
    animation: anim-shape 2s 0s forwards;
  }

  @keyframes anim-shape {
    to {
      left: -34vmin;
      filter: hue-rotate(0deg);
      opacity: 0.4;
    }
  }
}

.main-line {
  padding-right: 6vw;
  text-align: right;
  line-height: 1;
  font-size: 2.8rem;
  margin-top: 15vmin;

  h1 {
    line-height: 0.5;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h1:first-of-type {
    font-weight: 600;
  }

  h1:nth-of-type(2) {
    font-weight: 700;
    background: linear-gradient(100deg, $biruza, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
  }

  h1:nth-of-type(3) {
    font-weight: 800;
    margin-bottom: 50px;
  }
}

button {
  margin-top: 40px;
  background: none;
  border: 2px solid $biruza;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 194, 255, 0.2);
  padding: 15px 30px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 50px;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  nav {
    max-width: 100%;
    margin: 20px 20px;
    text-align: center;

    ul li {
      margin-left: 10px;
    }
  }

  .main-line {
    font-size: 1.3rem;
    margin-top: 16rem;

    h2 {
      font-size: 1.3rem;
    }

    h1:nth-of-type(3) {
      font-weight: 800;
      margin-bottom: 30px;
    }
  }

  button {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px 0px;
    font-size: 1rem;
  }

  html,
  body {
    overflow: auto;
  }
}

@media screen and (min-width: 600px) {
  button {
    &:hover {
      margin-top: 35px;
      box-shadow: 0 15px 40px rgba(0, 194, 255, 0.2);
    }
  }
}
