html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.box {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: saturate(1.5);
}
.thing {
  transition: all, 3s ease-in-out;
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.3;
  border-radius: 50%;
  background-color: lightblue;
  animation: anim 15s infinite linear;
}
.thing:nth-child(3n) {
  animation: anim 20s infinite linear;
}
.thing:nth-child(3n + 1) {
  animation: anim 10s infinite linear reverse;
}

@keyframes anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
