html,
body {
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  cursor: none;
  overflow: hidden;
}

nav {
  display: flex;
}

nav > div {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
}

nav > div > div {
  text-align: center;
  padding: 25px;
  font-size: 1em;
  font-weight: 500;
  transition: all 0.3s;
}

nav > div > div:hover {
  font-size: 0.8em;
}

nav > div:not(:first-child)::before {
  position: absolute;
  left: 0;
  content: "";
  height: 60%;
  top: 20%;
  border-left: solid 1px black;
}

.pic {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

img {
  box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.5);
  max-width: 600px;
}

.cursor {
  width: 1rem;
  height: 1rem;
  border: 2px solid black;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s;
  transition-property: width, height, background, backdrop-filter;
  z-index: 99999;
  pointer-events: none;
}

.link-grow-black {
  width: 5rem;
  height: 5rem;
  background: black;
}

.link-grow {
  width: 10rem;
  height: 10rem;
}

.h1box {
  display: flex;
  justify-content: center;
}
h1 {
  background: url('pic.jpg');
  background-size: 100%;
  background-position: 100% 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  font-size: 5rem;
  margin: 0;
}
